@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clerk Auth forms */
.cl-formButtonPrimary {
  @apply bg-purple-1;
}

.cl-formButtonPrimary:hover {
  @apply bg-pink-1;
}

.cl-footerActionLink {
  @apply text-purple-1;
}

.cl-footerActionLink:hover {
  @apply text-pink-1;
}
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }
}

/* Profile Info */
.input {
  @apply  bg-dark-1 p-2.5 rounded-lg border-none focus:outline-none mt-3 text-light-1
}

/* topbar  */
.search-bar{
  @apply w-full bg-dark-1 px-5 py-3 rounded-lg focus:outline-none text-light-1 text-small-semibold
}
.search-icon{
  @apply absolute top-3 right-2 text-light-1 hover:text-pink-1 cursor-pointer
}
.create-post-btn{
  @apply flex items-center gap-2 rounded-lg bg-gradient-to-l to-pink-1 from-purple-1 py-2.5 px-3 text-light-1 text-small-semibold max-md:hidden
}